:root {
  --dark: #242423;
  --red: #DC0E01;
  --lightBlue: hsl(199, 100%, 94%);
}

@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel-Regular.ttf") format(ttf);
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans-Regular.ttf") format(ttf);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

html, body {
  min-height: 100vh;
  background: #fff;
}

.header {
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: var(--lightBlue);

  .logo {
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
  }
}

.nav-btn,
.nav-btn__svg {
  width: 56px;
  height: 30px;
}

.intro {
  height: 100vh;
  display: flex;
  padding: 0 4rem;
  justify-content: space-between;
  padding-left: 15rem;
  background: var(--lightBlue);

}

.intro-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .intro-name {
    // color: var(--red);
    font-family: "Cinzel", serif;
    font-size: 15vw;
    overflow: hidden;
    font-weight: normal;
    margin-block-end: 0;
  }

  .intro-info {
    font-family: "NatoSans", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    width: 500px;
    align-self: flex-end;
    line-height: 1.3rem;
  }
}

.intro-images { 
  position: relative;
  justify-self: flex-end;

  img:nth-child(1) {
    width: 450px;
    height: auto;
  }
  
  img:nth-child(2) {
    width: 250px;
    position: absolute;
    z-index: 100;
    top: 15rem;
    left: -7rem;
  }
}

